name: Lint and format checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  HUSKY: 0

jobs:
  lint-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier check
        run: npx prettier --ignore-path .gitignore --check "**/*.{ts,tsx,graphql,yml}"
